In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
ch=pd.read_csv("E:/datasets/Bank_customer_churn_outside.csv")

In [3]:
ch.head()

,ID,Gender,Age,Region_Code,Occupation,Channel_Code,Vintage,Credit_Product,Avg_Account_Balance,Is_Active,Is_Lead
0,NNVBBKZB,Female,73,RG268,Other,X3,43,No,1045696,No,0
1,IDD62UNG,Female,30,RG277,Salaried,X1,32,No,581988,No,0
2,HD3DSEMC,Female,56,RG268,Self_Employed,X3,26,No,1484315,Yes,0
3,BF3NC7KV,Male,34,RG270,Salaried,X1,19,No,470454,No,0
4,TEASRWXV,Female,30,RG282,Salaried,X1,33,No,886787,No,0

In [4]:
ch=ch.iloc[:,[1,2,3,4,5,6,7,8,9,10]]

In [5]:
ch.head()

,Gender,Age,Region_Code,Occupation,Channel_Code,Vintage,Credit_Product,Avg_Account_Balance,Is_Active,Is_Lead
0,Female,73,RG268,Other,X3,43,No,1045696,No,0
1,Female,30,RG277,Salaried,X1,32,No,581988,No,0
2,Female,56,RG268,Self_Employed,X3,26,No,1484315,Yes,0
3,Male,34,RG270,Salaried,X1,19,No,470454,No,0
4,Female,30,RG282,Salaried,X1,33,No,886787,No,0

In [6]:
ch.isnull().sum()

Gender                     0
Age                        0
Region_Code                0
Occupation                 0
Channel_Code               0
Vintage                    0
Credit_Product         29325
Avg_Account_Balance        0
Is_Active                  0
Is_Lead                    0
dtype: int64

In [7]:
ch.shape

(245725, 10)

In [8]:
ch.describe(include='all')

,Gender,Age,Region_Code,Occupation,Channel_Code,Vintage,Credit_Product,Avg_Account_Balance,Is_Active,Is_Lead
count,245725,245725.000000,245725,245725,245725,245725.000000,216400,2.457250e+05,245725,245725.000000
unique,2,NaN,35,4,4,NaN,2,NaN,2,NaN
top,Male,NaN,RG268,Self_Employed,X1,NaN,No,NaN,No,NaN
freq,134197,NaN,35934,100886,103718,NaN,144357,NaN,150290,NaN
mean,NaN,43.856307,NaN,NaN,NaN,46.959141,NaN,1.128403e+06,NaN,0.237208
std,NaN,14.828672,NaN,NaN,NaN,32.353136,NaN,8.529364e+05,NaN,0.425372
min,NaN,23.000000,NaN,NaN,NaN,7.000000,NaN,2.079000e+04,NaN,0.000000
25%,NaN,30.000000,NaN,NaN,NaN,20.000000,NaN,6.043100e+05,NaN,0.000000
50%,NaN,43.000000,NaN,NaN,NaN,32.000000,NaN,8.946010e+05,NaN,0.000000
75%,NaN,54.000000,NaN,NaN,NaN,73.000000,NaN,1.366666e+06,NaN,0.000000
max,NaN,85.000000,NaN,NaN,NaN,135.000000,NaN,1.035201e+07,NaN,1.000000

In [9]:
ch.Credit_Product=ch.Credit_Product.fillna('No')
ch.isnull().sum()

Gender                 0
Age                    0
Region_Code            0
Occupation             0
Channel_Code           0
Vintage                0
Credit_Product         0
Avg_Account_Balance    0
Is_Active              0
Is_Lead                0
dtype: int64

In [10]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [11]:
ch[ch.select_dtypes(include=['object']).columns]=ch[ch.select_dtypes(include=['object']).columns].apply(le.fit_transform)

In [12]:
from sklearn.model_selection import train_test_split

In [13]:
ch_train,ch_test=train_test_split(ch,test_size=0.2)

In [26]:
ch_train.Is_Lead.value_counts()

0    150060
1     46520
Name: Is_Lead, dtype: int64

In [37]:
df1=ch_train[ch_train.Is_Lead==1]

In [38]:
ch_train=pd.concat([ch_train,df1])

In [39]:
ch_train.Is_Lead.value_counts()

1    186080
0    150060
Name: Is_Lead, dtype: int64

In [40]:
train_x=ch_train.iloc[:,0:-1]
train_y=ch_train.iloc[:,-1]
test_x=ch_test.iloc[:,0:-1]
test_y=ch_test.iloc[:,-1]

In [41]:
from sklearn.linear_model import LogisticRegression
lr=LogisticRegression()
lr.fit(train_x,train_y)

LogisticRegression()

In [42]:
lr.score(train_x,train_y)
pred=lr.predict(test_x)

In [43]:
from sklearn.metrics import confusion_matrix
tab=confusion_matrix(test_y,pred)
tab

array([[    0, 37377],
       [    0, 11768]], dtype=int64)

In [44]:
from sklearn.metrics import accuracy_score
accuracy_score(test_y,pred)

0.23945467494149963

In [45]:
from sklearn.metrics import precision_score
precision_score(test_y,pred)

0.23945467494149963